@model IEnumerable<Schwarz.Models.CadastroPare>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeBloqueada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Falha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroFSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioFacilitador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pontuacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidaPontuacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.IDFuncionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeBloqueada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Risco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desvio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Falha.IDFalha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroFSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuncionarioFacilitador.IDFuncionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontuacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidaPontuacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacoes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IDCadastroPare">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IDCadastroPare">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IDCadastroPare">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
