@model Schwarz.Models.LicaoAprendida
@using Microsoft.AspNetCore.Identity
@using Schwarz.Areas.Identity.Data


@inject SignInManager<SchwarzUser> SignInManager
@inject UserManager<SchwarzUser> UserManager

@{
    ViewData["Title"] = "Cadastrar";
    Layout = "_Layout";
}
<div class="container mx-auto">
    <div class="flex justify-center px-6 my-12">
        <div class="w-full xl:w-3/4 lg:w-11/12 flex">
            <div class="w-full bg-white p-2 rounded-lg">
                <h3 class="pt-4 text-2xl text-center">Formulário de Cadastro</h3>
                <form asp-action="Create" method="post" class="px-8 bg-white rounded" enctype="multipart/form-data">
                    <div class="mb-4">
                        <label asp-for="Processo" class="block mb-2 text-sm font-bold"></label>
                        <input asp-for="Processo" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva o Processo" />
                        @Html.ValidationMessageFor(x => x.Processo)
                    </div>
                    <div class="mb-4">
                        <label asp-for="CodigoInterno" class="block mb-2 text-sm font-bold"></label>
                        <input asp-for="CodigoInterno" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Digite o Código da Peça" />
                        @Html.ValidationMessageFor(x => x.CodigoInterno)
                    </div>
                    <div class="mb-4">
                        <label asp-for="NomePeca" class="block mb-2 text-sm font-bold"></label>
                        <input asp-for="NomePeca" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Digite o Nome da Peça" />
                        @Html.ValidationMessageFor(x => x.NomePeca)
                    </div>
                    <div class="mb-4">
                        <label asp-for="Planejado" class="block mb-2 text-sm font-bold flex items-center"></label>
                        <input asp-for="Planejado" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva o Planejado" />
                        @Html.ValidationMessageFor(x => x.Planejado)
                    </div>
                    <div class="mb-4">
                        <label asp-for="Realizado" class="block mb-2 text-sm font-bold">Realizado (O que aconteceu?)</label>
                        <input asp-for="Realizado" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva o Realizado" />
                        @Html.ValidationMessageFor(x => x.Realizado)
                    </div>
                    <div class="mb-4">
                        <label asp-for="Motivo" class="block mb-2 text-sm font-bold"></label>
                        <input asp-for="Motivo" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva o Motivo" />
                        @Html.ValidationMessageFor(x => x.Motivo)
                    </div>                    
                    <div class="mb-4">
                        <label asp-for="Descricao" class="block mb-2 text-sm font-bold flex items-center">Descrição da Lição</label>
                        <textarea asp-for="Descricao" style="min-height: calc(1.5em + 0.75rem + 100px);" class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva a Lição Aprendida"></textarea>
                        @Html.ValidationMessageFor(x => x.Descricao)
                    </div>
                    <div class="mb-4">
                        <label asp-for="Positivo" class="block mb-2 text-sm font-bold"></label>
                        <select asp-for="Positivo" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                            <option value="" selected disabled>Selecione</option>
                            <option value="@true">Positivo</option>
                            <option value="@false">Negativo</option>
                        </select>
                        @Html.ValidationMessageFor(x => x.Positivo)
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-bold text-gray-700">Anexos:</label>
                        <input asp-for="Arquivos" multiple>
                    </div>
                    <div class="mb-6 text-center">
                        <input type="hidden" asp-for="IDFuncionario" value="@UserManager.Users.First(x => x.Id == UserManager.GetUserId(User)).Funcionario.IDFuncionario" />
                        <input type="submit" value="Cadastrar" class="w-full px-4 py-4 font-bold text-white bg-gradient-to-r from-yellow-300 to-amber-500 rounded-full hover:bg-gradient-to-r hover:from-amber-300 hover:to-yellow-500 rounded-full hover:cursor-pointer focus:outline-none focus:shadow-outline" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>