@model LicaoAprendida
@{
    ViewData["Title"] = "Editar";
    Layout = "_Layout";
}

<div class="container mx-auto">
    <div class="flex justify-center px-6 my-12">
        <div class="w-full lg:w-7/12 bg-white p-2 rounded-lg">
            <h3 class="pt-4 text-2xl text-center">Formulário de Edição</h3>
            <form id="form" method="post" class="px-8">
                <div class="mb-4">
                    <label asp-for="Motivo" class="block mb-2 text-sm font-bold flex items-center"></label>
                    <textarea asp-for="Motivo" style="min-height: calc(1.5em + 0.75rem + 100px);" class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva sobre sua ideia" required></textarea>
                    @Html.ValidationMessageFor(x => x.Motivo)
                </div>

                <div class="mb-4">
                    <label asp-for="Planejado" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Planejado" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva o ganho" />
                    @Html.ValidationMessageFor(x => x.Planejado)
                </div>
                <div class="mb-4">
                    <label asp-for="Realizado" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Realizado" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Ganho realizado" />
                    @Html.ValidationMessageFor(x => x.Realizado)
                </div>
                <div class="mb-4">
                    <label asp-for="Processo" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Processo" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva o processo" />
                    @Html.ValidationMessageFor(x => x.Processo)
                </div>
                <div class="mb-4">
                    <label asp-for="NomePeca" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="NomePeca" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Digite o nome da peça" />
                    @Html.ValidationMessageFor(x => x.NomePeca)
                </div>
                <div class="mb-4">
                    <label asp-for="CodigoInterno" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="CodigoInterno" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Digite o código da peça" />
                    @Html.ValidationMessageFor(x => x.CodigoInterno)
                </div>
                <div class="mb-4">
                    <label asp-for="Descricao" class="block mb-2 text-sm font-bold flex items-center"></label>
                    <textarea asp-for="Descricao" style="min-height: calc(1.5em + 0.75rem + 100px);" class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva a lição aprendida" required></textarea>
                    @Html.ValidationMessageFor(x => x.Descricao)
                </div>
                <div class="mb-4">
                    <label asp-for="Data" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Data" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Digite o código da peça" />
                    @Html.ValidationMessageFor(x => x.Data)
                </div>
                <div class="mb-4">
                    <label asp-for="Positivo" class="block mb-2 text-sm font-bold"></label>
                    <select asp-for="Positivo" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" required>
                        <option value="@true">Positivo</option>
                        <option value="@false">Negativo</option>
                    </select>
                    @Html.ValidationMessageFor(x => x.Positivo)
                </div>
                <div class="mb-4">
                    <label class="block mb-2 text-sm font-bold flex items-center">Anexos</label>
                    @if (Model.LicaoAprendidaAnexos.Count() > 0)
                    {
                        @foreach (var anexo in Model.LicaoAprendidaAnexos)
                        {
                            <div class="my-2">
                                <a href="data:@anexo.TipoMIME;base64,@Convert.ToBase64String(anexo.Conteudo)" download="@anexo.Nome" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">@anexo.Nome</a>
                                <button class="p-2 text-white bg-gradient-to-r from-red-400 to-orange-700 rounded-lg hover:bg-gradient-to-r hover:from-orange-500 hover:to-red-900 hover:cursor-pointer focus:outline-none focus:shadow-outline remover-anexo" data-id="@anexo.IDLicaoAprendidaAnexo">
                                    Deletar
                                </button>
                            </div>
                        }
                    }
                    else
                    {
                        <label class="block w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">Sem Anexo</label>
                    }
                </div>
                <div class="my-3">
                    <input type="file" id="novoanexo" multiple>
                    <label class="p-2 text-white bg-gradient-to-r from-green-500 to-emerald-700 rounded-lg hover:bg-gradient-to-r hover:from-emerald-500 hover:to-green-800 hover:cursor-pointer focus:outline-none focus:shadow-outline adicionar-anexo">
                        Adicionar
                    </label>
                </div>

                <div class="my-6">
                    <input type="hidden" asp-for="IDLicaoAprendida" />
                    <input type="hidden" asp-for="IDFuncionario" />
                    <input type="submit" value="Editar" class="text-xl w-full px-2 py-2 font-bold text-white bg-gradient-to-r from-orange-300 to-yellow-500 rounded-full hover:bg-gradient-to-r hover:from-amber-300 hover:to-yellow-500 rounded-full hover:cursor-pointer focus:outline-none focus:shadow-outline" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.adicionar-anexo', function () {
        var files = $('#novoanexo')[0].files;
        var idLicaoAprendida = $('#IDLicaoAprendida').val();

        if (files.length === 0) {
            alert("Selecione pelo menos um arquivo para adicionar!");
            return;
        }

        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append('files', files[i]);
        }
        formData.append('idLicaoAprendida', idLicaoAprendida); // Adicionar o parâmetro idideia ao FormData

        $.ajax({
            url: '/LicaoAprendida/AdicionarAnexo',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                location.reload();
            },
            fail: function (jqXHR, textStatus, errorThrown) {
                alert('Ocorreu um erro ao adicionar o anexo: ' + errorThrown);
            }
        });
    });

    $(document).on('click', '.remover-anexo', function () {
        var id = $(this).data('id');
        var confirmar = confirm("Tem certeza que deseja excluir este anexo?");

        if (confirmar) {
            $.ajax({
                url: '/LicaoAprendida/RemoverAnexo',
                type: 'POST',
                data: { id: id },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert('Ocorreu um erro ao remover o anexo.');
                }
            });
        }
    });

</script>