@model Schwarz.Models.Estoque

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchwarzUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchwarzUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Setor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urgencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urgencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entregue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entregue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDEstoque">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
