@using Microsoft.AspNetCore.Identity
@using Schwarz.Areas.Identity.Data
@using Schwarz.Services.Interfaces

@inject SignInManager<SchwarzUser> SignInManager
@inject IUserService UserService
@model PareQualidade

<form asp-action="Create" asp-controller="PareQualidade" method="post" id="formQualidade" class="hidden">
    <div>
        @if (!SignInManager.IsSignedIn(User))
        {
            <div class="mb-3">
                <label asp-for="IDFuncionario" class="block mb-2 text-sm font-bold"></label>
                <select asp-for="IDFuncionario" id="funcionarioQualidade" class="select2" asp-items="ViewBag.Funcionarios">
                    <option selected disabled value="">Selecione o funcionário</option>
                </select>
                @Html.ValidationMessageFor(x => x.IDFuncionario)
            </div>
        }
        else
        {
            <input type="hidden" asp-for="IDFuncionario" value="@UserService.GetUser(User).Funcionario.IDFuncionario" />
        }
        @if (User.IsInRole("Admin") || User.IsInRole("ProgramaPareAdmin"))
        {
            <div class="mb-3">
                <label asp-for="Data" class="block mb-2 text-sm font-bold"></label>
                <input type="datetime-local" asp-for="Data" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" onchange="this.setAttribute('value', this.value);" />
                @Html.ValidationMessageFor(x => x.Data)
            </div>
        }
        <div class="mb-3">
            <label asp-for="Setor" class="block mb-2 text-sm font-bold"></label>
            <select asp-for="Setor" class="select2" asp-items="ViewBag.Setores">
                @if (SignInManager.IsSignedIn(User))
                {
                    <option selected value="@UserService.GetUser(User).Funcionario.Setor">@UserService.GetUser(User).Funcionario.Setor</option>
                }else
                {
                <option selected disabled value="">Selecione o Setor</option>
                }
            </select>
            @Html.ValidationMessageFor(x => x.Setor)
        </div>

        <div class="mb-3">
            <label asp-for="CodigoItem" class="block mb-2 text-sm font-bold"></label>
            <input asp-for="CodigoItem" type="number" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Código do item" maxlength="9" />
            @Html.ValidationMessageFor(x => x.CodigoItem)
        </div>
        <div class="mb-3">
            <label asp-for="QuantidadeBloqueada" class="block mb-2 text-sm font-bold"></label>
            <input asp-for="QuantidadeBloqueada" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Quantidade de Peças Bloqueadas" />
            @Html.ValidationMessageFor(x => x.QuantidadeBloqueada)
        </div>
        <div class="mb-3">
            <label asp-for="Descricao" class="block mb-2 text-sm font-bold"></label>
            <select asp-for="Descricao" class="select2" asp-items="ViewBag.Falhas">
                <option selected value="">Selecione a Falha</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Descricao" class="block mb-2 text-sm font-bold"></label>
            <textarea asp-for="Descricao" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva a Falha"></textarea>
        </div>
    </div>
    <div class="mb-3">
        <input type="submit" value="Cadastrar" class="w-full px-4 py-4 font-bold text-white bg-gradient-to-r from-red-300 to-red-500 rounded-full hover:bg-gradient-to-r hover:from-red-500 hover:to-red-300 rounded-full hover:cursor-pointer focus:outline-none focus:shadow-outline" />
    </div>
</form>