@using Microsoft.AspNetCore.Identity
@using Schwarz.Areas.Identity.Data
@using Schwarz.Services.Interfaces
@using Schwarz.Statics

@inject IUserService UserService
@inject SignInManager<SchwarzUser> SignInManager

@model IEnumerable<PareQualidade>
@{
    ViewData["Title"] = "Registros";
}

<div class="mx-4 py-2 my-4 max-w-screen">
    <div class="bg-white inline-block w-full shadow rounded-lg overflow-hidden p-5">
        <table id="tableQualidade">
            <thead>
                <tr>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Funcionario.Nome)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Setor)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.CodigoItem)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.QuantidadeBloqueada)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Pontuacao)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.IDPareQualidade">
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @Html.DisplayFor(modelItem => item.Setor)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @Html.DisplayFor(modelItem => item.CodigoItem)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @Html.DisplayFor(modelItem => item.QuantidadeBloqueada)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm" data-label="Status">
                            @{
                                var cor = item.Status.Contains("Aprovado") ? "text-green-500" : "text-red-500";
                            }
                            <span class="@cor">@item.Status</span>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm" data-label="Pontuacao">
                            @Html.DisplayFor(modelItem => item.Pontuacao)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @if (User.IsInRole(Roles.PareQualidade) || User.IsInRole(Roles.Admin))
                                {
                                    <a class="text-black rounded-lg p-2 bg-white ring-2 ring-amber-800 shadow-lg space-y-3 hover:bg-amber-500 hover:text-white inline-block" asp-action="Edit" asp-route-id="@item.IDPareQualidade">Editar</a>
                                    <button class="btnDelete text-black rounded-lg mt-2 p-2 bg-white ring-2 ring-red-800 shadow-lg space-y-3 hover:bg-red-600 hover:text-white inline-block" data-id="@item.IDPareQualidade">Deletar</button>
                                }
                                @if (item.Status == StatusPare.EmAnalise && (item.Funcionario.FuncionarioLider.User.Id == UserService.GetUser(User).Id || User.IsInRole(Roles.Admin)))
                                {
                                    <button class="btnAprovarLider text-black rounded-lg mt-2 p-2 bg-white ring-2 ring-blue-800 shadow-lg space-y-3 hover:bg-blue-600 hover:text-white inline-block" data-id="@item.IDPareQualidade">Aprovar</button>
                                    <button class="btnReprovarLider text-black rounded-lg mt-2 p-2 bg-white ring-2 ring-red-800 shadow-lg space-y-3 hover:bg-red-600 hover:text-white inline-block" data-id="@item.IDPareQualidade">Reprovar</button>
                                }
                                @if (item.Status == StatusPare.AprovadoLider && (User.IsInRole(Roles.PareQualidade) || User.IsInRole(Roles.Admin)))
                                {
                                    <button class="btnAprovarQualidade text-black rounded-lg mt-2 p-2 bg-white ring-2 ring-green-800 shadow-lg space-y-3 hover:bg-green-600 hover:text-white inline-block" data-id="@item.IDPareQualidade">Aprovar</button>
                                    <button class="btnReprovarQualidade text-black rounded-lg mt-2 p-2 bg-white ring-2 ring-red-800 shadow-lg space-y-3 hover:bg-red-600 hover:text-white inline-block" data-id="@item.IDPareQualidade">Reprovar</button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YYYY');

        var table = $('#tableQualidade').DataTable({
            "order": [],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json"
            },
            "dom": 'lBfrtip',
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "scrollY": "60vh",
            "scrollCollapse": true,
            "autoWidth": true,
            "responsive": true,
            "paging": true,
            "buttons": [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel"></i> Excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Imprimir',
                    className: 'btn btn-primary',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf"></i> PDF',
                    className: 'btn btn-danger',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                }
            ]
        });

        $('.btnDelete').click(function () {
            if (confirm('Tem certeza que deseja deletar o PARE?')) {
                var pareId = $(this).data('id');
                $.ajax({
                    url: 'api/PareQualidade/' + pareId,
                    method: 'DELETE',
                    success: function (data) {
                        var row = table.row($('button[data-id="' + pareId + '"]').closest('tr'));
                        row.remove().draw();
                        alert('PARE deletado com sucesso!')
                    },
                    error: function (error) {
                        alert('Erro ao deletar o PARE: ' + error.responseText);
                    }
                });
            }
        });

        $('.btnAprovarLider').click(function () {
            var idPare = $(this).data('id');
            var confirmacao = confirm("Tem certeza de que deseja aprovar este cadastro?");

            if (confirmacao) {
                var observacoes = prompt("Se houver, digite a observação");
                $.ajax({
                    url: 'api/PareQualidade/AprovacaoLider',
                    type: 'PUT',
                    data: { id: idPare, observacoes: observacoes },
                    success: function () {
                        var linha = $('#tableQualidade').find('tr[data-id="' + idPare + '"]');
                        linha.find('td[data-label="Status"]').html("<span class='text-green-500'>Aprovado pelo Líder</span><br/>");

                        $('.btnReprovarLider[data-id="' + idPare + '"]').hide();
                        $('.btnAprovarLider[data-id="' + idPare + '"]').hide();
                        alert('Aprovado com sucesso!');
                    },
                    error: function () {
                        alert('Ocorreu um erro ao aprovar o PARE.');
                    }
                });
            }
        });

        $('.btnReprovarLider').click(function () {
            var idPare = $(this).data('id');
            var confirmacao = confirm("Tem certeza de que deseja reprovar este cadastro?");

            if (confirmacao) {
                var observacoes = prompt("Se houver, digite a observação");
                $.ajax({
                    url: 'api/PareQualidade/ReprovacaoLider',
                    type: 'PUT',
                    data: { id: idPare, observacoes: observacoes },
                    success: function () {
                        var linha = $('#tableQualidade').find('tr[data-id="' + idPare + '"]');
                        linha.find('td[data-label="Status"]').html("<span class='text-red-500'>Reprovado pelo Líder</span><br/>");

                        $('.btnReprovarLider[data-id="' + idPare + '"]').hide();
                        $('.btnAprovarLider[data-id="' + idPare + '"]').hide();

                    },
                    error: function () {
                        alert('Ocorreu um erro ao aprovar o PARE.');
                    }
                });
            }
        });

        $('.btnAprovarQualidade').click(function () {
            var idPare = $(this).data('id');
            var confirmacao = confirm("Tem certeza de que deseja aprovar este cadastro?");

            if (confirmacao) {
                var observacoes = prompt("Se houver, digite a observação");
                var pontuacao = prompt("Digite a pontuação!");
                $.ajax({
                    url: 'api/PareQualidade/AprovacaoQualidade',
                    type: 'PUT',
                    data: { id: idPare, observacoes: observacoes, pontuacao: pontuacao },
                    success: function () {
                        var linha = $('#tableQualidade').find('tr[data-id="' + idPare + '"]');
                        linha.find('td[data-label="Status"]').html("<span class='text-green-500'>Aprovado pela Qualidade</span><br/>");
                        linha.find('td[data-label="Pontuacao"]').html(pontuacao);

                        $('.btnReprovarQualidade[data-id="' + idPare + '"]').hide();
                        $('.btnAprovarQualidade[data-id="' + idPare + '"]').hide();

                    },
                    error: function () {
                        alert('Ocorreu um erro ao aprovar o PARE.');
                    }
                });
            }
        });

        $('.btnReprovarQualidade').click(function () {
            var idPare = $(this).data('id');
            var confirmacao = confirm("Tem certeza de que deseja reprovar este cadastro?");

            if (confirmacao) {
                var observacoes = prompt("Se houver, digite a observação");
                $.ajax({
                    url: 'api/PareQualidade/ReprovacaoQualidade',
                    type: 'PUT',
                    data: { id: idPare, observacoes: observacoes },
                    success: function () {
                        var linha = $('#tableQualidade').find('tr[data-id="' + idPare + '"]');
                        linha.find('td[data-label="Status"]').html("<span class='text-red-500'>Reprovado pela Qualidade</span><br/>");

                        $('.btnReprovarQualidade[data-id="' + idPare + '"]').hide();
                        $('.btnAprovarQualidade[data-id="' + idPare + '"]').hide();

                    },
                    error: function () {
                        alert('Ocorreu um erro ao aprovar o PARE.');
                    }
                });
            }
        });
    });

</script>