@model IEnumerable<CadastroOleo>
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDUser)
            </th>
            <th>
                Máquina
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Litros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiarioBordo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Funcionario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquina.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Litros)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiarioBordo)
                </td>
            </tr>
        }
    </tbody>
</table>