@using Microsoft.AspNetCore.Identity;
@using Schwarz.Areas.Identity.Data;
@model IEnumerable<Ideia>
@{
	List<string> equipe = new();
}
@inject SignInManager<SchwarzUser> SignInManager
@inject UserManager<SchwarzUser> UserManager

<div class="my-2 flex sm:flex-row flex-col">
	
	<div class="flex flex-row mb-1 sm:mb-0">
		
		<div class="mr-12">
			<label for="filtrostatus" class="block font-medium text-gray-700">Filtrar Status por:</label>
			<select id="filtrostatus" class="max-w-xs px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500"><option value="">Todos</option></select>
		</div>
		<div>
			<label for="filtroano" class="block font-medium text-gray-700">Filtrar Ano por:</label>
			<select id="filtroano" class="max-w-xs px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500">
				<option value="">Todos</option>
				<option value="2023">2023</option>
				<option value="2022">2022</option>
				<option value="2021">2021</option>
				<option value="2020">2020</option>
				<option value="2019">2019</option>
			</select>
		</div>
	</div>
		<a asp-action="Create" asp-controller="Ideia" class="group block max-w-xs ml-auto rounded-lg p-6 bg-white ring-1 ring-slate-900/5 shadow-lg space-y-3 hover:bg-red-600 hover:ring-red-800">
  <div class="flex items-center space-x-3">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:text-white">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
</svg>

    <h3 class="text-slate-900 group-hover:text-white text-sm font-semibold">Cadastrar Ideia</h3>
  </div>
</a>
</div>
	
<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
	
	<div class="bg-white inline-block min-w-full shadow rounded-lg overflow-hidden p-5">
		<table id="table-ideias">
			<thead>
			<tr>
				<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
					Equipe
				</th>
				<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
					Data
				</th>
				<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
					Descrição
				</th>
				<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
					Status
				</th>
				<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
					Ações
				</th>

			</tr>
			</thead>
			<tbody>
			@foreach (var item in Model)
			{
				equipe.Clear();
				foreach (var func in item.EquipeIdeia)
				{
					equipe.Add(func.Funcionario.Nome.ToString().ToLower());
				}
				<tr>
						<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm capitalize" data-label="Equipe:">
						@string.Join(", ", equipe)
					</td>
						<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm" data-label="Data:">
						@Html.DisplayFor(modelItem => item.DataFormatada)
					</td>
						<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm" data-label="Descrição:">
						@Html.DisplayFor(modelItem => item.Descricao)
					</td>
						<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm" data-label="Status:">
						@Html.DisplayFor(modelItem => item.Status)
					</td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
						<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
						@if (SignInManager.IsSignedIn(User) && UserManager.GetRolesAsync(UserManager.Users.First(x => x.Id == UserManager.GetUserId(User))).Result.Contains("IdeiaAdmin"))
						{
							<a style="padding: 7px 10px;margin-top: 0;" class="btn btn-edit" asp-action="Edit" asp-route-id="@item.IDIdeia">Editar</a>
							<a style="padding: 7px 10px;margin-top: 0;" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IDIdeia">Deletar</a>
						}
						<a style="padding: 7px 10px;margin-top: 0;" class="btn btn-info" asp-action="Details" asp-route-id="@item.IDIdeia">Detalhes</a>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
</div>
<script>
	$(document).ready(function () {

		ShowLoading();
		// inicializa o DataTables
		var table = $('#table-ideias').DataTable({
			"order": [],
			"language": {
				"url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json"
			},
			columnDefs: [
				{ "type": "date", targets: 1 },
			],
			"dom": '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>' +
				'<"row"<"col-sm-12"tr>>' +
				'<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
			"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
			"scrollY": "60vh",
			"scrollCollapse": true,
			"responsive": true
		});



		// preenche o select status com os valores únicos da quarta coluna da tabela
		table.column(3).data().unique().sort().each(function (value, index) {
			$('#filtrostatus').append('<option value="' + value + '">' + value + '</option>');
		});

		// adiciona um evento de mudança ao elemento <select>
		$('#filtrostatus').on('change', function () {
			// obtém o valor selecionado
			var filtro = $(this).val();

			// filtra a tabela com base no valor selecionado
			table.column(3).search(filtro).draw();
		});

		// adiciona um evento de mudança ao elemento <select> de ano
		$('#filtroano').on('change', function () {
			// obtém o valor selecionado
			var filtro = $(this).val();

			// filtra a tabela com base no valor selecionado
			table.column(1).search(filtro).draw();
		});

		table.on('init.dt', function () {
			HideLoading();
		});

	});

</script>