@model Ideia
@{
    ViewData["Title"] = "Cadastrar";
    Layout = "_Layout";

}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
<style>
    label{
        color:#ffffff;
    }
</style>
<h1 class="titulo">Formulário de Cadastro</h1>
<div class="container">
    <form asp-action="Cadastrar" id="form">
        <div style="margin-bottom:10px;margin-top:10px">
            <div class="falha-details">
                <div class="textfield">
                    <img style="width:70px;height:65px" src="https://cdn-icons-png.flaticon.com/512/7659/7659478.png" alt="imagem de etiqueta" />
                    <label asp-for="NomeEquipe" class="control-label"></label>
                    <input asp-for="NomeEquipe" class="form-control required nomeequipe" autocomplete="off" placeholder="Digite o nome da equipe" />
                    <span class="field-validation-error hide nomeequipe">Escolha um nome para a equipe</span>
                </div>
                <div class="textfield">
                    <img style="width:70px;height:60px" src="https://cdn-icons-png.flaticon.com/512/6967/6967748.png" alt="imagem pessoas" />
                    <label class="control-label">Número de Participantes</label>
                    <select id="nparticipantes" class="form-select required nparticipantes" onchange="AtualizarParticipantes()">
                        <option selected disabled value="">Selecione a quantidade de participantes</option>
                        @for (int x = 1; x <= 4; x++)
                        {
                            <option value="@x">@x</option>
                        }
                    </select>
                    <span class="field-validation-error hide nparticipantes">Escolha o número de participantes</span>
                </div>
                @for (int x = 1; x <= 6; x++)
                {
                    <div class="textfield divparticipantes required hide">
                        <img style="width:65px;height:55px" src="https://cdn-icons-png.flaticon.com/512/3912/3912028.png" alt="imagem de duas pessoas juntas" />
                        <label class="control-label">Participante @x</label>
                        <select name="Participantes" class="form-select required participante">
                            <option selected disabled value="">Selecione o funcionário</option>
                            @foreach (var funcionario in Model.GetFuncionarios().Where(x => x.Ativo == true).OrderBy(x => x.Nome))
                            {
                                <option value="@funcionario.IDFuncionario">@funcionario.Nome</option>
                            }
                        </select>
                        <span class="field-validation-error hide participante">Escolha o participante</span>
                    </div>
                }
                <div class="textfield">
                    <img style="width:70px;height:60px" src="https://cdn-icons-png.flaticon.com/512/3176/3176212.png" alt="imagem de prancheta e caneta" />
                    <label asp-for="Descricao" class="control-label required"></label>
                    <textarea asp-for="Descricao" style="min-height: calc(1.5em + 0.75rem + 100px);" class="form-control descricao required" autocomplete="off" placeholder="Descreva sobre sua ideia"></textarea>
                    @Html.ValidationMessageFor(x => x.Descricao)
                </div>
                <div class="textfield">
                    <img style="width:70px;height:60px" src="https://cdn-icons-png.flaticon.com/512/2460/2460494.png" alt="imagem de dinheiro" />
                    <label asp-for="Ganho" class="control-label"></label>
                    <input asp-for="Ganho" class="form-control" autocomplete="off" placeholder="Descreva qual foi o ganho" />
                </div>
                <div class="textfield">
                    <img style="width:70px;height:60px" src="https://cdn-icons-png.flaticon.com/512/2543/2543190.png" alt="imagem de um time" />
                    <label class="control-label">Quanto foi ou será o investimento?</label>
                    <input asp-for="Investimento" class="form-control" autocomplete="off" placeholder="Investimento">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input style="padding: 16px 0px;margin-top:16px;" type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>
    </form>
</div>

<script type="text/javascript">

    const divParticipantes = document.querySelectorAll('.divparticipantes'),
        nParticipantes = document.getElementById('nparticipantes'),
        formIdeia = document.getElementById('form'),
        investimentoInput = document.getElementById('investimento'),
        requiredInputs = document.querySelectorAll('.required'),
        errors = document.querySelectorAll('.field-validation-error');

    function AtualizarParticipantes() {
        divParticipantes.forEach((div) => {
            div.classList.add('hide');
        });

        for (let x = 0; x < nParticipantes.value; x++) {
            divParticipantes[x].classList.remove('hide');
        }
    }

    formIdeia.addEventListener('submit', (f) => {
        errors.forEach((e) => {
            e.classList.add('hide');
        });


        requiredInputs.forEach((i) => {

            if (!(i.parentElement.classList.contains('hide'))) {
                if (i.value === '') {
                    var classlist = i.classList;
                    errors.forEach((e) => {
                        classlist.forEach((cl) => {
                            if (e.classList.contains(cl)) {
                                e.classList.remove('hide');
                            }
                        });
                    });
                    f.preventDefault();
                }
            }
        });
    });

</script>