<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var meses = @Html.Raw(Json.Serialize(ViewBag.Meses));
        var ideiasDadasPorMes = @Html.Raw(Json.Serialize(ViewBag.IdeiasDadasPorMes));
        var ideiasImplantadasPorMes = @Html.Raw(Json.Serialize(ViewBag.IdeiasImplantadasPorMes));

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Mês');
        data.addColumn('number', 'Ideias Dadas');
        data.addColumn({ role: 'annotation' }, 'string');
        data.addColumn('number', 'Ideias Implantadas');
        data.addColumn({ role: 'annotation' }, 'string');

        for (var i = 0; i < ideiasDadasPorMes.length; i++) {
            var annotationDada = ideiasDadasPorMes[i].quantidade.toString();
            var quantidadeImplantada = i < ideiasImplantadasPorMes.length ? ideiasImplantadasPorMes[i].quantidade : 0;
            var annotationImplantada = quantidadeImplantada.toString();
            data.addRow([
                meses[i], 
                ideiasDadasPorMes[i].quantidade,
                annotationDada,
                quantidadeImplantada,
                annotationImplantada
            ]);
        }

        var options = {
            bar: { groupWidth: "20%" },
            legend: { position: 'top', alignment: 'center' },
            colors: ['blue', 'green'],
            annotations: {
                textStyle: {
                    color: 'black'
                }
            },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('ideias_chart'));

        chart.draw(data, options);
    }
</script>
<div>
    <div class="pt-6 px-4">
        <div class="mb-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-4">
            <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">@ViewBag.TotalIdeiasAno</span>
                        <h3 class="text-base font-normal text-gray-500">Total de Ideias do Ano</h3>
                    </div>
                    <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                        @ViewBag.PorcentagemIdeiasAno%
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">@ViewBag.TotalIdeiasImplantadasAno</span>
                        <h3 class="text-base font-normal text-gray-500">Ideias Implantadas do Ano</h3>
                    </div>
                    <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                        @ViewBag.PorcentagemIdeiasImplantadasAno%
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full grid grid-cols-1 xl:grid-cols-1 gap-4">
            <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">
                <div class="flex items-center justify-between mb-4">
                    <div class="flex-shrink-0">
                        <h3 class="text-xl font-bold text-gray-900 mb-2">Ideias por Mês</h3>
                    </div>
                </div>
                <div id="ideias_chart"></div>
            </div>
        </div>

    </div>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://demo.themesberg.com/windster/app.bundle.js"></script>
</div>