@model Ideia

@{
	Layout = "_Layout";
	ViewData["Title"] = "Deletar";
	var numero = 1;
}
<h1 class="fw-bold text-center fs-1 text-danger">Deletar</h1>

<div class="container container-xxl bd-gutter mt-3 my-md-4 bd-layout bg-white text-light">
		<div class="p-3 row row-cols-2">
			<div class="row m-0">
				@foreach (var participante in Model.IdeiaEquipe)
				{
					<div class="col-6 border border-black">
						<label class="control-label">Participante @numero</label>
						<label class="capitalize">@participante.Funcionario.Nome.ToLower()</label>
					</div>
					numero = numero + 1;
				}
			</div>

				<div class="col border border-black">
					<label class="control-label">@Html.DisplayNameFor(model => model.Descricao)</label>
					<label>@Html.DisplayFor(model => model.Descricao)</label>
				</div>

			<div class="col border border-black">
				<label class="control-label">@Html.DisplayNameFor(model => model.Data)</label>
				<label>@Html.DisplayFor(model => model.Data)</label>
			</div>
			<div class="col border border-black">
				<label class="control-label">@Html.DisplayNameFor(model => model.Status)</label>
				<label>@Html.DisplayFor(model => model.Status)</label>
			</div>
			<div class="col border border-black">
				<label class="control-label">@Html.DisplayNameFor(model => model.Ganho)</label>
				<label>@Html.DisplayFor(model => model.Ganho)</label>
			</div>
			<div class="col border border-black">
				<label class="control-label">@Html.DisplayNameFor(model => model.Investimento)</label>
				<label>@Html.DisplayFor(model => model.Investimento)</label>
			</div>
			<div class="col border border-black">
				<label class="control-label">@Html.DisplayNameFor(model => model.Feedback)</label>
				<label>@Html.DisplayFor(model => model.Feedback)</label>
			</div>
			<div class="col border border-black">
				<label class="control-label">@Html.DisplayNameFor(model => model.NomeEquipe)</label>
				<label>@Html.DisplayFor(model => model.NomeEquipe)</label>
			</div>
			<div class="col border border-black">
			<label class="control-label">@Html.DisplayNameFor(model => model.OrdemServico)</label>
				<label>@Html.DisplayFor(model => model.OrdemServico)</label>
			</div>
			<div class="col border border-black">
				<label class="control-label">@Html.DisplayNameFor(model => model.SolicitacaoAnalise)</label>
				<label>@Html.DisplayFor(model => model.SolicitacaoAnalise)</label>
			</div>
			<form asp-action="Delete">
				<input type="hidden" asp-for="IDIdeia" />
				<input type="submit" value="Deletar" class="text-xl my-4 px-4 py-4 font-bold text-white bg-gradient-to-r from-red-300 to-orange-500 rounded-full hover:bg-gradient-to-r hover:from-orange-300 hover:to-red-500 rounded-full hover:cursor-pointer focus:outline-none focus:shadow-outline" />
				<a class="text-xl w-full my-4 px-4 py-4 font-bold text-white bg-gradient-to-r from-orange-300 to-yellow-500 rounded-full hover:bg-gradient-to-r hover:from-amber-300 hover:to-yellow-500 rounded-full hover:cursor-pointer focus:outline-none focus:shadow-outline" asp-action="Index"> Voltar para Painel</a>
			</form>
		</div>
</div>