@model Ideia
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Net;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Detalhes";
}

<div class="container mx-auto">
    <div class="flex justify-center px-6 my-12">
        <div class="w-full xl:w-3/4 lg:w-11/12 flex">
            <div class="w-full bg-white p-2 rounded-lg">
                <h3 class="pt-4 text-2xl text-center">Detalhes da Ideia</h3>
                <div class="px-8 ">
                    <label class="block mb-2 text-sm font-bold flex items-center">Participantes</label>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6">
                        @foreach (var participante in Model.IdeiaEquipe)
                        {

                            <div class="w-full bg-neutral-300 rounded-lg p-12 flex flex-col justify-center items-center">
                                @if (participante.Funcionario.Foto != null)
                                {
                                    <div class="mb-8">
                                        <img class="object-center object-cover rounded-full h-48 w-36" src="data:image;base64,@(Convert.ToBase64String(participante.Funcionario.Foto))" alt="imagem">
                                    </div>
                                }

                                <div class="text-center">
                                    <p class="text-xl text-gray-700 font-bold mb-2 capitalize">@participante.Funcionario.Nome.ToLower()</p>
                                    <p class="text-base text-gray-400 font-normal">@participante.Funcionario.Setor.ToUpper()</p>
                                </div>
                            </div>
                        }


                </div>

                    <div class="my-2">
                        <label class="block mb-2 text-lg font-bold">@Html.DisplayNameFor(model => model.Status)</label>
                        <label class="block mb-4 border bg-gray-600 text-sm rounded-md p-2 text-white">@Html.DisplayFor(model => model.Status)</label>
                    </div>

                    <div class="pd-4 mt-4">
                        <label class="block mb-2 font-bold text-lg flex items-center">@Html.DisplayNameFor(model => model.Descricao)</label>
                        <label class="block mb-4 border bg-gray-600 text-sm rounded-md p-2 text-white">@Html.DisplayFor(model => model.Descricao)</label>
                    </div>
                   
                    <div class="row">
                        <div class="grid grid-cols-2 gap-4 mt-4 mb-4">
                            <div class="mb-4">
                                <label class="block mb-2 text-sm font-bold">@Html.DisplayNameFor(model => model.Ganho)</label>
                                <label class="block border bg-gray-600 rounded-md p-2 text-white">@Html.DisplayFor(model => model.Ganho)</label>
                            </div>
                        
                            <div class="mb-4">
                                <label class="block mb-2 text-sm font-bold">@Html.DisplayNameFor(model => model.GanhoRealizado)</label>
                                <label class="block border bg-gray-600 rounded-md p-2 text-white">@Html.DisplayFor(model => model.GanhoRealizado)</label>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-4 mt-4 mb-4">
                            <div class="my-2">
                                <label class="block mb-2 text-sm font-bold">@Html.DisplayNameFor(model => model.Data)</label>
                                <label class="block border bg-gray-600 rounded-md p-2 text-white">@Html.DisplayFor(model => model.Data)</label>
                            </div>

                            <div class="my-2">
                                <label class="block mb-2 text-sm font-bold">@Html.DisplayNameFor(model => model.DataImplantacao)</label>
                                <label class="block border bg-gray-600 rounded-md p-2 text-white">@Html.DisplayFor(model => model.DataImplantacao)</label>

                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="my-2">
                            <label class="block mb-2 text-sm font-bold">@Html.DisplayNameFor(model => model.Investimento)</label>
                            <label class="block mb-6 border bg-gray-600 rounded-md p-2 text-white">@Html.DisplayFor(model => model.Investimento)</label>
                        </div>

                        <div class="row">
                            <label class="block mb-2 text-sm font-bold">@Html.DisplayNameFor(model => model.Feedback)</label>
                            <label class="block mb-6 border bg-gray-600 rounded-md p-2 text-white">@Html.DisplayFor(model => model.Feedback)</label>
                        </div>

                    </div>
                    <div class="mb-4 md:flex md:justify-between">
                        <div class="my-2">
                            <label class="block mb-2 text-sm font-bold">@Html.DisplayNameFor(model => model.OrdemServico)</label>
                            <label class="block mb-6 border bg-gray-600 rounded-md p-2 text-white">@Html.DisplayFor(model => model.OrdemServico)</label>
                        </div>
                        <div class="my-2">
                            <label class="block mb-2 text-sm font-bold">@Html.DisplayNameFor(model => model.SolicitacaoAnalise)</label>
                            <label class="block mb-6 border bg-gray-600 rounded-md p-2 text-white">@Html.DisplayFor(model => model.SolicitacaoAnalise)</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="block mb-2 text-sm font-bold">Anexos</label>
                        @if (Model.IdeiaAnexo != null)
                        {
                            foreach (var anexo in Model.IdeiaAnexo)
                            {
                                <div class="mb-5">
                                    @if (anexo.TipoMIME.Contains("img"))
                                    {
                                        <a href="data:@anexo.TipoMIME;base64,@Convert.ToBase64String(anexo.Anexo)"
                                        class="image-viewer
                                        bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
                                        block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                        dark:focus:ring-blue-500 dark:focus:border-blue-500" data-type="@anexo.TipoMIME">@anexo.Nome</a>
                                    }
                                    else
                                    {
                                        <a href="data:@anexo.TipoMIME;base64,@Convert.ToBase64String(anexo.Anexo)" download="@anexo.Nome"
                                           
                                        class="image-viewer
                                        bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
                                        block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                        dark:focus:ring-blue-500 dark:focus:border-blue-500" data-type="@anexo.TipoMIME">@anexo.Nome</a>
                                    }


                                </div>
                            }

                        }
                        else
                        {
                            <label class="block w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">Sem Anexo</label>
                        }
                    </div>
                    <div class="my-5 text-center">
                        <a class="text-xl p-2 text-white bg-gray-600 rounded-sm rounded-tl-lg rounded-br-lg transition delay-100 hover:scale-105 hover:bg-gray-800" href="/Ideia">Voltar para Painel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var vbInstance = new VenoBox({
            selector: '.image-viewer',
            share: true,
            fitView: true,
            spinner: 'circle-fade',
            numeration: true,
        });

        $('.image-viewer').on('click', function (e) {
            e.preventDefault();

            var fotoData = $(this).attr('href');
            var fotoType = $(this).data('type');

            var linkOculto = $('<a>', {
                href: fotoData,
                class: 'venobox',
                'data-gall': 'gallery',
                'data-type': 'image',
            }).hide().appendTo('body');

            vbInstance.open(linkOculto[0]);
        });
    });

</script>