@model Ideia
@{
	ViewData["Title"] = "Editar";
	Layout = "_Layout";
	int i = 0;
	var s = "";
}

<style>
	label {
		color: #ffffff;
	}
</style>
<h1 class="titulo">Formulário de Cadastro</h1>
<div class="container">
	<form asp-action="Editar" id="form" method="post">
		<div style="margin-bottom:10px;margin-top:10px">
			<div class="falha-details">
				<div class="textfield divparticipantes required">
					<img style="width:65px;height:55px" src="https://cdn-icons-png.flaticon.com/512/3912/3912028.png" alt="imagem de duas pessoas juntas" />
					<label id="labelparticipantes" class="control-label">Participantes</label>
					@foreach (var equipe in Model.EquipeIdeia)
					{
						i++;
						if (i == 1){
							s = "required";
						}
						<div id="select">
							<select name="Participantes" class="form-select participante" id="selectfuncionarios" @s>
								<option value="">Selecione o funcionário</option>
								<option selected value="@equipe.IDFuncionario">@equipe.Funcionario.Nome</option>
								@foreach (var funcionario in Model.GetFuncionariosAtivos().Where(x => x.IDFuncionario != equipe.IDFuncionario).OrderBy(x => x.Nome))
								{
									<option value="@funcionario.IDFuncionario">@funcionario.Nome</option>
								}
							</select>
						</div>
						s = "";
					}
					@for(var n = i; n < 4; n++)
					{
						<div id="select">
							<select name="Participantes" class="form-select participante" id="selectfuncionarios">
								<option selected value="">Selecione o funcionário</option>
								@foreach (var funcionario in Model.GetFuncionarios().Where(x => x.Ativo == true).OrderBy(x => x.Nome))
								{
									<option value="@funcionario.IDFuncionario">@funcionario.Nome</option>
								}
							</select>
						</div>
					}
				</div>
				<div class="textfield">
					<img style="width:70px;height:60px" src="https://cdn-icons-png.flaticon.com/512/3176/3176212.png" alt="imagem de prancheta e caneta" />
					<label asp-for="Descricao" class="control-label required"></label>
					<textarea asp-for="Descricao" style="min-height: calc(1.5em + 0.75rem + 100px);" class="form-control descricao required" autocomplete="off" placeholder="Descreva sobre sua ideia"></textarea>
					@Html.ValidationMessageFor(x => x.Descricao)
				</div>
				<div class="textfield">
					<img style="width:70px;height:60px" src="https://cdn-icons-png.flaticon.com/512/2460/2460494.png" alt="imagem de dinheiro" />
					<label asp-for="Ganho" class="control-label"></label>
					<input asp-for="Ganho" class="form-control" autocomplete="off" placeholder="Descreva qual foi o ganho" />
				</div>
				<div class="textfield">
					<img style="width:70px;height:60px" src="https://cdn-icons-png.flaticon.com/512/2543/2543190.png" alt="imagem de um time" />
					<label class="control-label">Quanto foi ou será o investimento?</label>
					<input asp-for="Investimento" class="form-control" autocomplete="off" placeholder="Investimento">
				</div>
				<div class="textfield">
					<img style="width:70px;height:60px" src="https://cdn-icons-png.flaticon.com/512/825/825792.png" alt="imagem de um capacete e uma engrenagem" />
					<label class="control-label">Se precisar da ajuda da Engenharia digite o número da Solicitação de Análise</label>
					<input asp-for="SolicitacaoAnalise" class="form-control" autocomplete="off" placeholder="N° Solicitação de Análise">
				</div>
				<div class="textfield">
					<img style="width:70px;height:60px" src="https://cdn-icons-png.flaticon.com/512/4259/4259285.png" alt="imagem de duas ferramentas" />
					<label class="control-label">Se precisar da ajuda da Manutenção digite o número da OS aberta</label>
					<input asp-for="OS" class="form-control" autocomplete="off" placeholder="N° da OS aberta">
				</div>
				<div class="textfield">
					<label class="control-label">Reconhecimento</label>
					<input asp-for="Reconhecimento" class="form-control" autocomplete="off" placeholder="Valor do reconhecimento">
				</div>
				<div class="textfield">
					<label asp-for="Status" class="control-label"></label>
					<select asp-for="Status" class="form-select">
						<option value="Aplicada">Aplicada</option>
						<option value="Recebida">Recebida</option>
						<option value="Aprovada">Aprovada</option>
						<option value="Cancelada">Cancelada</option>
						<option value="Direcionada">Direcionada</option>
						<option value="Em Processo">Em Processo</option>
					</select>
				</div>
			</div>
		</div>
		<div class="mb-3">
			<input style="padding: 16px 0px;margin-top:16px;" type="submit" value="Editar" class="btn btn-edit" />
		</div>
	</form>
</div>

<script type="text/javascript">

	const divParticipantes = document.querySelectorAll('.divparticipantes'),
		nParticipantes = document.getElementById('nparticipantes'),
		formIdeia = document.getElementById('form'),
		investimentoInput = document.getElementById('investimento'),
		requiredInputs = document.querySelectorAll('.required'),
		errors = document.querySelectorAll('.field-validation-error'),
		removerparticipante = document.querySelectorAll('#RemoverParticipante'),
		adicionarparticipante = document.querySelectorAll('#AdicionarParticipante');

	var i = removerparticipante.length;

	function AtualizarParticipantes() {
		divParticipantes.forEach((div) => {
			div.classList.add('hide');
		});

		for (let x = 0; x < nParticipantes.value; x++) {
			divParticipantes[x].classList.remove('hide');
		}
	}

	formIdeia.addEventListener('submit', (f) => {
		errors.forEach((e) => {
			e.classList.add('hide');
		});


		requiredInputs.forEach((i) => {

			if (!(i.parentElement.classList.contains('hide'))) {
				if (i.value === '') {
					var classlist = i.classList;
					errors.forEach((e) => {
						classlist.forEach((cl) => {
							if (e.classList.contains(cl)) {
								e.classList.remove('hide');
							}
						});
					});
					f.preventDefault();
				}
			}
		});
	});

	var nomes = [];
	var ids = [];

	$.ajax({
		url: '@Url.Action("GetFuncionariosNomes","Ideia")',
		datatype: 'html',
		method: 'GET',
		data: {},
		success: function (n) {
			nomes.push(n);
		},
		error: function (err) {
			console.log(err);
		}
	});

	$.ajax({
		url: '@Url.Action("GetFuncionariosIDs","Ideia")',
		datatype: 'html',
		method: 'GET',
		data: {},
		success: function (i) {
			ids.push(i);
		},
		error: function (err) {
			console.log(err);
		}
	});

	class Funcionario  {
		constructor(nome, idfuncionario){
			this.nome = nome;
			this.idfuncionario = idfuncionario;
		}
	}

	function OptionsFuncionario(){
		var html = '';
		for (var i = 0; i < nomes.length; i++) {
			html = html + '<option value="' + ids.findIndex(i) + '">' + nomes[i] + '</option>';
		}
		return html;
	}
	
	removerparticipante.forEach((btn) => {
		btn.addEventListener("click", function () {
			if (i > 1) {
				$(this).parents("#select").remove();
				i -= 1;
			}
		});
	});

	adicionarparticipante.forEach((btn) => {
		btn.addEventListener("click", function () {
			if (i < 4) {
				var novooption = '<div id="select" >' + 
				'<select name="Participantes" class="form-select required participante" id = "selectfuncionarios" >' + 
				'</select>' + 
				'<span class="field-validation-error hide participante">Escolha o participante</span>' + 
				'<button id = "RemoverParticipante" class="btn btn-danger">Remover</button>'
				$('#labelparticipantes').append(novooption);
				i += 1;
			}
		});
	});
	console.log(ids[200]);
</script>