@using Microsoft.AspNetCore.Identity;
@using Schwarz.Areas.Identity.Data;
@inject UserManager<SchwarzUser> UserManager
@{
    var nameUser = UserManager.Users.First(x => x.Id == UserManager.GetUserId(User)).Funcionario.Nome;
    var idFuncionarioUser = UserManager.Users.First(x => x.Id == UserManager.GetUserId(User)).Funcionario.IDFuncionario;
}
<div class="pt-4 px-4">
    <h1 class="text-3xl pb-4 text-white text-center font-bold">Relatório de Ideias Gerencial</h1>
    <div class="mb-4 w-full grid grid-cols-1 md:grid-cols-3 xl:grid-cols-3 gap-4">
        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">@ViewBag.TotalIdeias</span>
                    <h3 class="text-base font-normal text-gray-500">Total de Ideias do Ano</h3>
                </div>
            </div>
        </div>
        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">@ViewBag.TotalIdeiasImplantadas</span>
                    <h3 class="text-base font-normal text-gray-500">Ideias Implantadas do Ano</h3>
                </div>
            </div>
        </div>
        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">@ViewBag.MediaIdeiasPessoa</span>
                    <h3 class="text-base font-normal text-gray-500">Média de Ideias por Pessoa</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-6 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-4">
        <div class="mx-6 my-2 rounded overflow-hidden shadow-md text-xl">
            <div class="flex bg-gray-200 px-2 py-2">
                <div class="text-2xl w-full items-center font-bold">
                    Ranking Total de Ideias Dadas (Liderança)
                </div>
                <div class="w-1/6 text-gray-700 text-right">N° Ideias</div>
            </div>
            @foreach (var gerente in ViewBag.RankingIdeiasDadasLider)
            {
                <div class="flex px-2 py-2 items-center bg-white">
                    <div class="w-10/12 flex">
                        @if (gerente.Foto == null)
                        {
                            <img class="w-12 mr-2 self-center" alt="foto-lider" src="\image\user.png">
                        }
                        else
                        {
                            <img class="w-12 mr-2 self-center" alt="foto-lider" src="data:image;base64,@(Convert.ToBase64String(gerente.Foto))">
                        }
                        <div class="flex flex-col">
                            @if (gerente.Nome == nameUser)
                            {
                                <p class="font-bold text-green-600">@gerente.Nome</p>
                            }
                            else
                            {
                                <p class="font-bold">@gerente.Nome</p>
                            }

                            <p class="text-sm hidden sm:block text-gray-600">@gerente.Cargo</p>
                        </div>
                    </div>
                    <p class="w-1/6 text-3xl font-bold text-right">@gerente.Contagem</p>
                </div>
            }
        </div>

        <div class="mx-6 my-2 rounded overflow-hidden shadow-md text-xl">
            <div class="flex bg-gray-200 px-2 py-2">
                <div class="text-2xl w-full items-center font-bold">
                    Ranking Total de Ideias Implantadas (Liderança)
                </div>
                <div class="w-1/6 text-gray-700 text-right">N° Ideias</div>
            </div>
            @foreach (var gerente in ViewBag.RankingIdeiasImplantadasLider)
            {
                <div class="flex px-2 py-2 items-center bg-white">
                    <div class="w-10/12 flex">
                        @if (gerente.Foto == null)
                        {
                            <img class="w-12 mr-2 self-center" alt="foto-lider" src="\image\user.png">
                        }
                        else
                        {
                            <img class="w-12 mr-2 self-center" alt="foto-lider" src="data:image;base64,@(Convert.ToBase64String(gerente.Foto))">
                        }
                        <div class="flex flex-col">
                            @if (gerente.Nome == nameUser)
                            {
                                <p class="font-bold text-green-600">@gerente.Nome</p>
                            }
                            else
                            {
                                <p class="font-bold">@gerente.Nome</p>
                            }
                            <p class="text-sm hidden sm:block text-gray-600">@gerente.Cargo</p>
                        </div>
                    </div>
                    <p class="w-1/6 text-3xl font-bold text-right">@gerente.Contagem</p>
                </div>
            }
        </div>
    </div>
    <h1 class="text-3xl text-white text-center font-bold">Tabela de Ideias da Equipe</h1>
    <div id="grdIdeias"></div>
</div>


<script>
    $(() => {
        ShowLoading();
        carregarIdeias(@idFuncionarioUser);
    });
    function carregarIdeias(idfunc) {
        $.ajax({
            url: '@Url.Action("BuscarIdeiasLider","Ideia")',
            datatype: 'html',
            method: 'GET',
            data: { idlider: idfunc },
            success: function (res) {
                $('#grdIdeias').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>