@using Schwarz.Statics
@model IEnumerable<PareMeioAmbiente>

@{
    ViewData["Title"] = "Registros";
}

<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto my-4">
    <div class="bg-white inline-block min-w-full shadow rounded-lg overflow-hidden p-5">
        <table id="tableMeioAmbiente">
            <thead>
                <tr>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Funcionario.Nome)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Local)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Desvio)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        @Html.DisplayNameFor(model => model.Pontuacao)
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.IDPareMeioAmbiente">
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @Html.DisplayFor(modelItem => item.Local)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            @Html.DisplayFor(modelItem => item.Desvio)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm" data-label="Aprovacao">
                            @{
                                var cor = item.Status.Contains("Aprovado") ? "text-green-500" : "text-red-500";
                            }
                            <span class="@cor">@item.Status</span>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm" data-label="Pontuacao">
                            @Html.DisplayFor(modelItem => item.Pontuacao)
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <a style="padding: 7px 10px;margin-top: 0;" class="text-black rounded-lg mt-2 p-6 bg-white ring-2 ring-amber-800 shadow-lg space-y-3 hover:bg-amber-500 hover:text-white inline-block" asp-action="Edit" asp-route-id="@item.IDPareMeioAmbiente">Editar</a>
                            <button style="padding: 7px 10px;" class="btnDelete text-black rounded-lg mt-2 p-6 bg-white ring-2 ring-red-800 shadow-lg space-y-3 hover:bg-red-600 hover:text-white inline-block btn-delete" data-id="@item.IDPareMeioAmbiente">Deletar</button>
                            @if (item.Status == StatusPare.EmAnalise && (User.IsInRole(Roles.Lider) || User.IsInRole(Roles.Admin)))
                            {
                                <button style="padding: 7px 10px;" class="btnAprovarLider text-black rounded-lg mt-2 p-6 bg-white ring-2 ring-blue-800 shadow-lg space-y-3 hover:bg-blue-600 hover:text-white inline-block" data-id="@item.IDPareMeioAmbiente">Aprovar</button>
                                <button style="padding: 7px 10px;" class="btnReprovarLider text-black rounded-lg mt-2 p-6 bg-white ring-2 ring-red-800 shadow-lg space-y-3 hover:bg-red-600 hover:text-white inline-block" data-id="@item.IDPareMeioAmbiente">Reprovar</button>
                            }
                            @if (item.Status == StatusPare.AprovadoLider && (User.IsInRole(Roles.PareMeioAmbiente) || User.IsInRole(Roles.Admin)))
                            {
                                <button style="padding: 7px 10px;" class="btnAprovarMeioAmbiente text-black rounded-lg mt-2 p-6 bg-white ring-2 ring-green-800 shadow-lg space-y-3 hover:bg-green-600 hover:text-white inline-block" data-id="@item.IDPareMeioAmbiente">Aprovar</button>
                                <button style="padding: 7px 10px;" class="btnReprovarMeioAmbiente text-black rounded-lg mt-2 p-6 bg-white ring-2 ring-red-800 shadow-lg space-y-3 hover:bg-red-600 hover:text-white inline-block" data-id="@item.IDPareMeioAmbiente">Reprovar</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YYYY');

        var table = $('#tableMeioAmbiente').DataTable({
            "order": [],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json"
            },
            "dom": 'lBfrtip',
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "scrollY": "60vh",
            "scrollCollapse": true,
            "autoWidth": true,
            "responsive": true,
            "paging": true,
            "buttons": [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel"></i> Excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Imprimir',
                    className: 'btn btn-primary',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf"></i> PDF',
                    className: 'btn btn-danger',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                }
            ]
        });

        $('.btnDelete').click(function () {
            if (confirm('Tem certeza que deseja deletar o PARE?')) {
                var pareId = $(this).data('id');
                $.ajax({
                    url: 'api/PareMeioAmbiente/' + pareId,
                    method: 'DELETE',
                    success: function (data) {
                        var row = table.row($('button[data-id="' + pareId + '"]').closest('tr'));
                        row.remove().draw();
                        alert('PARE deletado com sucesso!')
                    },
                    error: function (error) {
                        alert('Erro ao deletar o PARE: ' + error.responseText);
                    }
                });
            }
        });

        $('.btnAprovarLider').click(function () {
            var idPare = $(this).data('id');
            var confirmacao = confirm("Tem certeza de que deseja aprovar este cadastro?");

            if (confirmacao) {
                var observacoes = prompt("Se houver, digite a observação");
                $.ajax({
                    url: 'api/PareMeioAmbiente/AprovacaoLider',
                    type: 'PUT',
                    data: { id: idPare, observacoes: observacoes, aprovacaoPare: 1 },
                    success: function () {
                        var linha = $('#tableMeioAmbiente').find('tr[data-id="' + idPare + '"]');
                        linha.find('td[data-label="Aprovacao"]').html("<span class='text-green-500'>Aprovado pelo Líder</span><br/>");

                        $('.btnReprovarLider[data-id="' + idPare + '"]').hide();
                        $('.btnAprovarLider[data-id="' + idPare + '"]').hide();

                    },
                    error: function () {
                        alert('Ocorreu um erro ao aprovar o PARE.');
                    }
                });
            }
        });

        $('.btnReprovarLider').click(function () {
            var idPare = $(this).data('id');
            var confirmacao = confirm("Tem certeza de que deseja reprovar este cadastro?");

            if (confirmacao) {
                var observacoes = prompt("Se houver, digite a observação");
                $.ajax({
                    url: 'api/PareMeioAmbiente/AprovacaoLider',
                    type: 'PUT',
                    data: { id: idPare, observacoes: observacoes, aprovacaoPare: 2 },
                    success: function () {
                        var linha = $('#tableMeioAmbiente').find('tr[data-id="' + idPare + '"]');
                        linha.find('td[data-label="Aprovacao"]').html("<span class='text-red-500'>Reprovado pelo Líder</span><br/>");

                        $('.btnReprovarLider[data-id="' + idPare + '"]').hide();
                        $('.btnAprovarLider[data-id="' + idPare + '"]').hide();

                    },
                    error: function () {
                        alert('Ocorreu um erro ao aprovar o PARE.');
                    }
                });
            }
        });

        $('.btnAprovarMeioAmbiente').click(function () {
            var idPare = $(this).data('id');
            var confirmacao = confirm("Tem certeza de que deseja aprovar este cadastro?");

            if (confirmacao) {
                var observacoes = prompt("Se houver, digite a observação");
                var pontuacao = prompt("Digite a pontuação!");
                $.ajax({
                    url: 'api/PareMeioAmbiente/AprovacaoMeioAmbiente',
                    type: 'PUT',
                    data: { id: idPare, observacoes: observacoes, aprovacaoPare: 1, pontuacao: pontuacao },
                    success: function () {
                        var linha = $('#tableMeioAmbiente').find('tr[data-id="' + idPare + '"]');
                        linha.find('td[data-label="Aprovacao"]').html("<span class='text-green-500'>Aprovado pelo Meio Ambiente</span><br/>");
                        linha.find('td[data-label="Pontuacao"]').html(pontuacao);

                        $('.btnReprovarMeioAmbiente[data-id="' + idPare + '"]').hide();
                        $('.btnAprovarMeioAmbiente[data-id="' + idPare + '"]').hide();

                    },
                    error: function () {
                        alert('Ocorreu um erro ao aprovar o PARE.');
                    }
                });
            }
        });

        $('.btnReprovarMeioAmbiente').click(function () {
            var idPare = $(this).data('id');
            var confirmacao = confirm("Tem certeza de que deseja reprovar este cadastro?");

            if (confirmacao) {
                var observacoes = prompt("Se houver, digite a observação");
                $.ajax({
                    url: 'api/PareMeioAmbiente/AprovacaoMeioAmbiente',
                    type: 'PUT',
                    data: { id: idPare, observacoes: observacoes, aprovacaoPare: 2 },
                    success: function () {
                        var linha = $('#tableMeioAmbiente').find('tr[data-id="' + idPare + '"]');
                        linha.find('td[data-label="Aprovacao"]').html("<span class='text-red-500'>Reprovado pelo Meio Ambiente</span><br/>");

                        $('.btnReprovarMeioAmbiente[data-id="' + idPare + '"]').hide();
                        $('.btnAprovarMeioAmbiente[data-id="' + idPare + '"]').hide();

                    },
                    error: function () {
                        alert('Ocorreu um erro ao aprovar o PARE.');
                    }
                });
            }
        });
    });

</script>