@model Schwarz.Models.FSP

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>FSP</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAbertura" class="control-label"></label>
                <input asp-for="DataAbertura" class="form-control" />
                <span asp-validation-for="DataAbertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFechamento" class="control-label"></label>
                <input asp-for="DataFechamento" class="form-control" />
                <span asp-validation-for="DataFechamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto" class="control-label"></label>
                <input asp-for="Produto" class="form-control" />
                <span asp-validation-for="Produto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origem" class="control-label"></label>
                <input asp-for="Origem" class="form-control" />
                <span asp-validation-for="Origem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFalha" class="control-label"></label>
                <select asp-for="IDFalha" class="form-control select2" asp-items="@(ViewData["Falhas"] as IList<SelectListItem>)">
                    <option value="" selected>Selecione a Falha</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaodeObra" class="control-label"></label>
                <input asp-for="MaodeObra" class="form-control" />
                <span asp-validation-for="MaodeObra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maquina" class="control-label"></label>
                <input asp-for="Maquina" class="form-control" />
                <span asp-validation-for="Maquina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicao" class="control-label"></label>
                <input asp-for="Medicao" class="form-control" />
                <span asp-validation-for="Medicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <input asp-for="Material" class="form-control" />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeioAmbiente" class="control-label"></label>
                <input asp-for="MeioAmbiente" class="form-control" />
                <span asp-validation-for="MeioAmbiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metodo" class="control-label"></label>
                <input asp-for="Metodo" class="form-control" />
                <span asp-validation-for="Metodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorqueFalhou1" class="control-label"></label>
                <input asp-for="PorqueFalhou1" class="form-control" />
                <span asp-validation-for="PorqueFalhou1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorqueFalhou2" class="control-label"></label>
                <input asp-for="PorqueFalhou2" class="form-control" />
                <span asp-validation-for="PorqueFalhou2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorqueFalhou3" class="control-label"></label>
                <input asp-for="PorqueFalhou3" class="form-control" />
                <span asp-validation-for="PorqueFalhou3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorqueFalhou4" class="control-label"></label>
                <input asp-for="PorqueFalhou4" class="form-control" />
                <span asp-validation-for="PorqueFalhou4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorqueFalhou5" class="control-label"></label>
                <input asp-for="PorqueFalhou5" class="form-control" />
                <span asp-validation-for="PorqueFalhou5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CausaRaizFalha" class="control-label"></label>
                <input asp-for="CausaRaizFalha" class="form-control" />
                <span asp-validation-for="CausaRaizFalha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorquePassou1" class="control-label"></label>
                <input asp-for="PorquePassou1" class="form-control" />
                <span asp-validation-for="PorquePassou1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorquePassou2" class="control-label"></label>
                <input asp-for="PorquePassou2" class="form-control" />
                <span asp-validation-for="PorquePassou2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorquePassou3" class="control-label"></label>
                <input asp-for="PorquePassou3" class="form-control" />
                <span asp-validation-for="PorquePassou3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorquePassou4" class="control-label"></label>
                <input asp-for="PorquePassou4" class="form-control" />
                <span asp-validation-for="PorquePassou4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorquePassou5" class="control-label"></label>
                <input asp-for="PorquePassou5" class="form-control" />
                <span asp-validation-for="PorquePassou5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CausaRaizPassou" class="control-label"></label>
                <input asp-for="CausaRaizPassou" class="form-control" />
                <span asp-validation-for="CausaRaizPassou" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AtualizarFMEA" /> @Html.DisplayNameFor(model => model.AtualizarFMEA)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QualFMEA" class="control-label"></label>
                <input asp-for="QualFMEA" class="form-control" />
                <span asp-validation-for="QualFMEA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioFMEA" class="control-label"></label>
                <select asp-for="IDFuncionarioFMEA" class ="form-control select2" asp-items="ViewBag.IDFuncionarioFMEA">
                    <option value="" selected>Selecione o Funcionário</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PrazoFMEA" class="control-label"></label>
                <input asp-for="PrazoFMEA" class="form-control" />
                <span asp-validation-for="PrazoFMEA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealizadoFMEA" class="control-label"></label>
                <input asp-for="RealizadoFMEA" class="form-control" />
                <span asp-validation-for="RealizadoFMEA" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AtualizarInstrucao" /> @Html.DisplayNameFor(model => model.AtualizarInstrucao)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QualInstrucao" class="control-label"></label>
                <input asp-for="QualInstrucao" class="form-control" />
                <span asp-validation-for="QualInstrucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioInstrucao" class="control-label"></label>
                <select asp-for="IDFuncionarioInstrucao" class="form-control select2" asp-items="ViewBag.IDFuncionarioInstrucao">
                    <option value="" selected>Selecione o Funcionário</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PrazoInstrucao" class="control-label"></label>
                <input asp-for="PrazoInstrucao" class="form-control" />
                <span asp-validation-for="PrazoInstrucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealizadoInstrucao" class="control-label"></label>
                <input asp-for="RealizadoInstrucao" class="form-control" />
                <span asp-validation-for="RealizadoInstrucao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AtualizarPlanoControle" /> @Html.DisplayNameFor(model => model.AtualizarPlanoControle)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QualPlanoControle" class="control-label"></label>
                <input asp-for="QualPlanoControle" class="form-control" />
                <span asp-validation-for="QualPlanoControle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioPlanoControle" class="control-label"></label>
                <select asp-for="IDFuncionarioPlanoControle" class ="form-control select2" asp-items="ViewBag.IDFuncionarioPlanoControle">
                    <option value="" selected>Selecione o Funcionário</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PrazoPlanoControle" class="control-label"></label>
                <input asp-for="PrazoPlanoControle" class="form-control" />
                <span asp-validation-for="PrazoPlanoControle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealizadoPlanoControle" class="control-label"></label>
                <input asp-for="RealizadoPlanoControle" class="form-control" />
                <span asp-validation-for="RealizadoPlanoControle" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UtilizarPokaYoke" /> @Html.DisplayNameFor(model => model.UtilizarPokaYoke)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QualPokaYoke" class="control-label"></label>
                <input asp-for="QualPokaYoke" class="form-control" />
                <span asp-validation-for="QualPokaYoke" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioPokaYoke" class="control-label"></label>
                <select asp-for="IDFuncionarioPokaYoke" class="form-control select2" asp-items="ViewBag.IDFuncionarioPokaYoke">
                    <option value="" selected>Selecione o Funcionário</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PrazoPokaYoke" class="control-label"></label>
                <input asp-for="PrazoPokaYoke" class="form-control" />
                <span asp-validation-for="PrazoPokaYoke" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealizadoPokaYoke" class="control-label"></label>
                <input asp-for="RealizadoPokaYoke" class="form-control" />
                <span asp-validation-for="RealizadoPokaYoke" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AplicarTreinamento" /> @Html.DisplayNameFor(model => model.AplicarTreinamento)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QualTreinamento" class="control-label"></label>
                <input asp-for="QualTreinamento" class="form-control" />
                <span asp-validation-for="QualTreinamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioTreinamento" class="control-label"></label>
                <select asp-for="IDFuncionarioTreinamento" class="form-control select2" asp-items="ViewBag.IDFuncionarioTreinamento">
                    <option value="" selected>Selecione o Funcionário</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PrazoTreinamento" class="control-label"></label>
                <input asp-for="PrazoTreinamento" class="form-control" />
                <span asp-validation-for="PrazoTreinamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealizadoTreinamento" class="control-label"></label>
                <input asp-for="RealizadoTreinamento" class="form-control" />
                <span asp-validation-for="RealizadoTreinamento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmitirAlertaQualidade" /> @Html.DisplayNameFor(model => model.EmitirAlertaQualidade)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QualAlertaQualidade" class="control-label"></label>
                <input asp-for="QualAlertaQualidade" class="form-control" />
                <span asp-validation-for="QualAlertaQualidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioAlertaQualidade" class="control-label"></label>
                <select asp-for="IDFuncionarioAlertaQualidade" class="form-control select2" asp-items="ViewBag.IDFuncionarioAlertaQualidade">
                    <option value="" selected>Selecione o Funcionário</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PrazoAlertaQualidade" class="control-label"></label>
                <input asp-for="PrazoAlertaQualidade" class="form-control" />
                <span asp-validation-for="PrazoAlertaQualidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealizadoAlertaQualidade" class="control-label"></label>
                <input asp-for="RealizadoAlertaQualidade" class="form-control" />
                <span asp-validation-for="RealizadoAlertaQualidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioVerificacao" class="control-label"></label>
                <select asp-for="IDFuncionarioVerificacao" class="form-control select2" asp-items="ViewBag.IDFuncionarioVerificacao">
                    <option value="" selected>Selecione o Funcionário</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DataVerificacao" class="control-label"></label>
                <input asp-for="DataVerificacao" class="form-control" />
                <span asp-validation-for="DataVerificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndicadorVerificacao" class="control-label"></label>
                <input asp-for="IndicadorVerificacao" class="form-control" />
                <span asp-validation-for="IndicadorVerificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EficazVerificacao" class="control-label"></label>
                <input asp-for="EficazVerificacao" class="form-control" />
                <span asp-validation-for="EficazVerificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodologiaVerificacao" class="control-label"></label>
                <input asp-for="MetodologiaVerificacao" class="form-control" />
                <span asp-validation-for="MetodologiaVerificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDNovaFSP" class="control-label"></label>
                <select asp-for="IDNovaFSP" class="form-control select2" asp-items="ViewBag.IDNovaFSP">
                    <option value="" selected>Selecione a nova FSP</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioNovaFSP" class="control-label"></label>
                <select asp-for="IDFuncionarioNovaFSP" class="form-control select2" asp-items="ViewBag.IDFuncionarioNovaFSP">
                    <option value="" selected>Selecione o Funcionário</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

<script>
    $(document).ready(function () {
        $('.select2').select2({
            width: '100%',
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
