<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(function() {
    drawGraficoAlertasArquivados()
    drawGraficoAlertasLider() 
    });

    function drawGraficoAlertasLider() {
        var alertaPorLider = @Html.Raw(Json.Serialize(ViewBag.AlertasporLider));
        
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Líder');
        data.addColumn('number', 'Alertas Reatividade Produção');
        data.addColumn({ role: 'annotation' }, 'string');
        data.addColumn('number', 'Alertas Validação Metrologia');
        data.addColumn({ role: 'annotation' }, 'string');

        for (var i = 0; i < alertaPorLider.length; i++) {
            var annotationProducao = alertaPorLider[i].alertaProducao.toString();
            var annotationMetrologia = alertaPorLider[i].alertaMetrologia.toString();
            data.addRow([
                alertaPorLider[i].lider,
                alertaPorLider[i].alertaProducao,
                annotationProducao,
                alertaPorLider[i].alertaMetrologia,
                annotationMetrologia
            ]);
        }

        var options = {
            bar: { groupWidth: "20%" },
            legend: { position: 'top', alignment: 'center' },
            colors: ['red', 'yellow'],
            isStacked: true,
            annotations: {
                textStyle: {
                    color: 'black'
                }
            },
            vAxis: {
                viewWindow: {
                    min: 0
                },
                maxValue: 1.0
            }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('graficoAlertasLider'));

        chart.draw(data, options);
    }
    function drawGraficoAlertasArquivados() {
        var alertasArquivadosMes = @Html.Raw(Json.Serialize(ViewBag.AlertasArquivados));
        
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Mês');
        data.addColumn('number', 'Alertas Arquivados');
        data.addColumn({ role: 'annotation' }, 'string');

        for (var i = 0; i < alertasArquivadosMes.length; i++) {
            var annotation = alertasArquivadosMes[i].alertaArquivados.toString();
            data.addRow([
                alertasArquivadosMes[i].mes,
                alertasArquivadosMes[i].alertaArquivados,
                annotation
            ]);
        }

        var options = {
            bar: { groupWidth: "20%" },
            legend: { position: 'top', alignment: 'center' },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('graficoAlertasArquivados'));

        chart.draw(data, options);
    }

</script>
<div>
    <div class="pt-6 px-4">
        <div class="mb-4 w-full grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">@ViewBag.TotalAlertaProducao</span>
                        <h3 class="text-base font-normal text-gray-500">Alertas Aguardando Reatividade Produção</h3>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">@ViewBag.TotalAlertaMetrologia</span>
                        <h3 class="text-base font-normal text-gray-500">Alertas Aguardando Validação Metrologia</h3>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">@ViewBag.TotalAlertaArquivados</span>
                        <h3 class="text-base font-normal text-gray-500">Alertas Arquivados</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full grid grid-cols-1 xl:grid-cols-2 gap-4">
            <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">
                <div class="flex items-center justify-between mb-4">
                    <div class="flex-shrink-0">
                        <h3 class="text-xl font-bold text-gray-900 mb-2">Alertas por Líder</h3>
                    </div>
                </div>
                <div id="graficoAlertasLider"></div>
            </div>
            <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">
                <div class="flex items-center justify-between mb-4">
                    <div class="flex-shrink-0">
                        <h3 class="text-xl font-bold text-gray-900 mb-2">Alertas Arquivados por Mês</h3>
                    </div>
                </div>
                <div id="graficoAlertasArquivados"></div>
            </div>
        </div>

    </div>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://demo.themesberg.com/windster/app.bundle.js"></script>
</div>