@model Schwarz.Models.AlertaCota

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AlertaCota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroCotas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroCotas.IDRegistroCotas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoContencao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoContencao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoCorretiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoCorretiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioLider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioLider.IDFuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConfirmacaoProducao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConfirmacaoProducao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDAlertaCota" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
