@model Schwarz.Models.AlertaCota

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>AlertaCota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroCotas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroCotas.IDRegistroCotas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoContencao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoContencao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoCorretiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoCorretiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioLider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioLider.IDFuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConfirmacaoProducao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConfirmacaoProducao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDAlertaCota">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
