@model IEnumerable<Schwarz.Models.AlertaCota>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto my-4">
    <div class="bg-white inline-block min-w-full shadow rounded-lg overflow-hidden p-5">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Data de Abertura
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Código Interno
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Setor
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Máquina
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Situação
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Turno
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Analista
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        OP
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Nome Cota
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        N° Peça
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Valor Encontrado
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.Registro.DataAbertura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.Registro.CodigoInterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.Registro.Setor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.Registro.Maquina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.Registro.Situacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.Registro.Turno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.Registro.Analista)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.Registro.OP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.NomeCota)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.NumeroPeca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroCotas.ValorEncontrado)
                        </td>
                        <td>
                            <button style="padding: 7px 10px;margin-top: 0;" class="rounded-lg mt-2 p-6 bg-white ring-2 ring-blue-800 shadow-lg space-y-3 hover:bg-blue-600 hover:text-white inline-block" data-id="@item.IDAlertaCota">Responder</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<dialog class="m-auto" id="dialog">
    <h3 class="pt-4 text-2xl text-center">Plano de Ação</h3>
    <div class="flex justify-center px-6 my-12">
        <form id="formResponderAlerta" method="post" class="px-8">
            <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700l">Ação Contenção</label>
                <input required type="text" name="acaoContencao" id="acaoContencao" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
            </div>
            <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700l">Prazo Contenção</label>
                <input required type="datetime-local" name="prazoAcaoContencao" id="prazoAcaoContencao" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
            </div>
            <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700l">Ação Corretiva</label>
                <input required type="text" name="acaoCorretiva" id="acaoCorretiva" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
            </div>
            <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700l">Prazo Corretiva</label>
                <input required type="datetime-local" name="prazoAcaoCorretiva" id="prazoAcaoCorretiva" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
            </div>
            <div class="mb-4">
                <input required type="hidden" name="idAlertaCota" id="idAlertaCota" value="" />
                <input type="submit" value="Enviar" class="text-xl w-full px-4 py-4 font-bold text-white bg-gradient-to-r from-emerald-300 to-green-500 rounded-full hover:bg-gradient-to-r hover:from-emerald-300 hover:to-green-500 rounded-full hover:cursor-pointer focus:outline-none focus:shadow-outline" />
            </div>
        </form>
    </div>
</dialog>

<script>
    var dialog = document.getElementById('dialog');
    var table = $('#table').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json"
        },
        "dom": '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>' +
            '<"row"<"col-sm-12"tr>>' +
            '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "scrollY": "60vh",
        "scrollCollapse": true,
        "autoWidth": true,
        "responsive": true
    });

    $(document).ready(function () {
        $('#table').on('click', 'button', function () {
            var idAlertaCota = $(this).data('id');

            $('#idAlertaCota').val(idAlertaCota);

            dialog.showModal();
        });

        $('#formResponderAlerta').submit(function (e) {
            e.preventDefault();

            var formData = {
                acaoContencao: $('#acaoContencao').val(),
                acaoCorretiva: $('#acaoCorretiva').val(),
                idAlertaCota: $('#idAlertaCota').val(),
                prazoAcaoContencao: $('#prazoAcaoContencao').val(),
                prazoAcaoCorretiva: $('#prazoAcaoCorretiva').val()
            };

            $.ajax({
                type: 'POST',
                url: '/AlertaCota/responderAlerta',
                data: formData,
                success: function () {
                    alert('Resposta enviada com sucesso!');
                    dialog.close();

                    var row = table.row($('button[data-id="' + formData.idAlertaCota + '"]').closest('tr'));
                    row.remove().draw();
                },
                error: function (error) {
                    alert("Erro ao enviar resposta, tente novamente!");
                    console.error('Erro ao enviar resposta:', error);
                }
            });
        });
    });
</script>