@model Schwarz.Models.Cota

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<div class="bg-white">
    <h1>Create</h1>

    <h4>Cota</h4>
    <hr />
    <div class="row bg-white">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IDPlanoControle" class="control-label"></label>
                    <select asp-for="IDPlanoControle" class="form-control" asp-items="ViewBag.IDPlanoControle"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Ordem" class="control-label"></label>
                    <input asp-for="Ordem" class="form-control" />
                    <span asp-validation-for="Ordem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Item" class="control-label"></label>
                    <input asp-for="Item" class="form-control" />
                    <span asp-validation-for="Item" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Caracteristica" class="control-label"></label>
                    <input asp-for="Caracteristica" class="form-control" />
                    <span asp-validation-for="Caracteristica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoCaracteristica" class="control-label"></label>
                    <select asp-for="TipoCaracteristica" class="form-select">
                        <option value="PC">PC</option>
                        <option value="PD">PD</option>
                    </select>
                    <span asp-validation-for="TipoCaracteristica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CaracteristicaEspecial" class="control-label"></label>
                    <select asp-for="CaracteristicaEspecial" class="form-control">
                        <option value="">Nenhuma</option>
                        <option value="Produto">☐ Produto</option>
                        <option value="Processo">■ Processo</option>
                        <option value="Segurança">● Segurança</option>
                        <option value="Cliente">♦ Cliente</option>
                    </select>
                    <span asp-validation-for="CaracteristicaEspecial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Localizacao" class="control-label"></label>
                    <input asp-for="Localizacao" class="form-control" />
                    <span asp-validation-for="Localizacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nominal" class="control-label"></label>
                    <input type="number" asp-for="Nominal" class="form-control" />
                    <span asp-validation-for="Nominal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ToleranciaMinima" class="control-label"></label>
                    <input type="number" asp-for="ToleranciaMinima" class="form-control" />
                    <span asp-validation-for="ToleranciaMinima" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ToleranciaMaxima" class="control-label"></label>
                    <input type="number" asp-for="ToleranciaMaxima" class="form-control" />
                    <span asp-validation-for="ToleranciaMaxima" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnidadeMedida" class="control-label"></label>
                    <select asp-for="UnidadeMedida" class="form-select">
                        <option select value="">Selecione a Unidade</option>
                        <option value="Número">Número</option>
                        <option value="%">%</option>
                    </select>
                    <span asp-validation-for="UnidadeMedida" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InstrumentoPrincipal" class="control-label"></label>
                    <input asp-for="InstrumentoPrincipal" class="form-control" />
                    <span asp-validation-for="InstrumentoPrincipal" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AmostragemIP" /> @Html.DisplayNameFor(model => model.AmostragemIP)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaDiaIP" class="control-label"></label>
                    <input asp-for="FrequenciaDiaIP" class="form-control" />
                    <span asp-validation-for="FrequenciaDiaIP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaTurnoIP" class="control-label"></label>
                    <input asp-for="FrequenciaTurnoIP" class="form-control" />
                    <span asp-validation-for="FrequenciaTurnoIP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaSetUpIP" class="control-label"></label>
                    <input asp-for="FrequenciaSetUpIP" class="form-control" />
                    <span asp-validation-for="FrequenciaSetUpIP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaParadaIP" class="control-label"></label>
                    <input asp-for="FrequenciaParadaIP" class="form-control" />
                    <span asp-validation-for="FrequenciaParadaIP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaFinalIP" class="control-label"></label>
                    <input asp-for="FrequenciaFinalIP" class="form-control" />
                    <span asp-validation-for="FrequenciaFinalIP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaAjusteIP" class="control-label"></label>
                    <input asp-for="FrequenciaAjusteIP" class="form-control" />
                    <span asp-validation-for="FrequenciaAjusteIP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaHoraIP" class="control-label"></label>
                    <input asp-for="FrequenciaHoraIP" class="form-control" />
                    <span asp-validation-for="FrequenciaHoraIP" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="MonitoramentoIP" /> @Html.DisplayNameFor(model => model.MonitoramentoIP)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RegistroInspecaoIP" /> @Html.DisplayNameFor(model => model.RegistroInspecaoIP)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ControleEstatisticoProcessoIP" /> @Html.DisplayNameFor(model => model.ControleEstatisticoProcessoIP)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="InstrumentoSecundario" class="control-label"></label>
                    <input asp-for="InstrumentoSecundario" class="form-control" />
                    <span asp-validation-for="InstrumentoSecundario" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AmostragemIS" /> @Html.DisplayNameFor(model => model.AmostragemIS)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaDiaIS" class="control-label"></label>
                    <input asp-for="FrequenciaDiaIS" class="form-control" />
                    <span asp-validation-for="FrequenciaDiaIS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaTurnoIS" class="control-label"></label>
                    <input asp-for="FrequenciaTurnoIS" class="form-control" />
                    <span asp-validation-for="FrequenciaTurnoIS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaSetUpIS" class="control-label"></label>
                    <input asp-for="FrequenciaSetUpIS" class="form-control" />
                    <span asp-validation-for="FrequenciaSetUpIS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaParadaIS" class="control-label"></label>
                    <input asp-for="FrequenciaParadaIS" class="form-control" />
                    <span asp-validation-for="FrequenciaParadaIS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaFinalIS" class="control-label"></label>
                    <input asp-for="FrequenciaFinalIS" class="form-control" />
                    <span asp-validation-for="FrequenciaFinalIS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaAjusteIS" class="control-label"></label>
                    <input asp-for="FrequenciaAjusteIS" class="form-control" />
                    <span asp-validation-for="FrequenciaAjusteIS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrequenciaHoraIS" class="control-label"></label>
                    <input asp-for="FrequenciaHoraIS" class="form-control" />
                    <span asp-validation-for="FrequenciaHoraIS" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="MonitoramentoIS" /> @Html.DisplayNameFor(model => model.MonitoramentoIS)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RegistroInspecaoIS" /> @Html.DisplayNameFor(model => model.RegistroInspecaoIS)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ControleEstatisticoProcessoIS" /> @Html.DisplayNameFor(model => model.ControleEstatisticoProcessoIS)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Situacao" class="control-label"></label>
                    <input asp-for="Situacao" class="form-control" />
                    <span asp-validation-for="Situacao" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Visual" /> @Html.DisplayNameFor(model => model.Visual)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
