@model Schwarz.Models.Cota

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}
@Html.Partial("_Bootstrap")
<h1>Details</h1>

<div>
    <h4>Cota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanoControle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanoControle.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caracteristica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caracteristica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCaracteristica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCaracteristica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaracteristicaEspecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaracteristicaEspecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nominal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nominal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToleranciaMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToleranciaMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToleranciaMaxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToleranciaMaxima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentoPrincipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrumentoPrincipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmostragemIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmostragemIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaDiaIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaDiaIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaTurnoIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaTurnoIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaSetUpIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaSetUpIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaParadaIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaParadaIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaFinalIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaFinalIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaAjusteIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaAjusteIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaHoraIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaHoraIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonitoramentoIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonitoramentoIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroInspecaoIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroInspecaoIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControleEstatisticoProcessoIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControleEstatisticoProcessoIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentoSecundario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrumentoSecundario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmostragemIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmostragemIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaDiaIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaDiaIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaTurnoIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaTurnoIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaSetUpIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaSetUpIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaParadaIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaParadaIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaFinalIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaFinalIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaAjusteIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaAjusteIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaHoraIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaHoraIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonitoramentoIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonitoramentoIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroInspecaoIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroInspecaoIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControleEstatisticoProcessoIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControleEstatisticoProcessoIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDCota">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
