@model IEnumerable<Schwarz.Models.Cota>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanoControle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caracteristica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCaracteristica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaracteristicaEspecial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToleranciaMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToleranciaMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrumentoPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmostragemIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonitoramentoIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistroInspecaoIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControleEstatisticoProcessoIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrumentoSecundario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmostragemIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonitoramentoIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistroInspecaoIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControleEstatisticoProcessoIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanoControle.CodigoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caracteristica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCaracteristica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaracteristicaEspecial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nominal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToleranciaMinima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToleranciaMaxima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentoPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmostragemIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonitoramentoIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistroInspecaoIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControleEstatisticoProcessoIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentoSecundario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmostragemIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonitoramentoIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistroInspecaoIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControleEstatisticoProcessoIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDCota">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDCota">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDCota">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
