@model Schwarz.Models.PlanoControle

@{
	ViewData["Title"] = "Detalhes";
	Layout = "_Layout";
}
@Html.Partial("_Bootstrap")

<div class="bg-white overflow-none">

	<div>
		<h1>Plano de Controle</h1>
		<dl class="grid grid-column-10">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Revisao)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Revisao)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.DataOrigem)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.DataOrigemFormatada)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.DataAtualizacao)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.DataAtualizacaoFormatada)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Status)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Status)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Produto)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Produto)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Cliente)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Cliente)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Processo)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Processo)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.CodigoInterno)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.CodigoInterno)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.CodigoCliente)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.CodigoCliente)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.NFluxo)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.NFluxo)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Observacoes)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Observacoes)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.FuncionarioElaborador)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.FuncionarioElaborador.Nome)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.FuncionarioAprovador)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.FuncionarioAprovador.Nome)
			</dd>
		</dl>
	</div>

	<h1>Cotas do Plano de Controle</h1>
	<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto my-4">
		<table class="table-auto ">
			<thead>
				<tr>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						#
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Item
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Característica Especial
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Localização
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Característica Produto
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Característica Processo
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Descrição
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Nominal
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Tolerância Superior
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Tolerância Superior
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Instrumento Principal
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Código Instrumento
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/D
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/T
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/S
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/P
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/F
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/A
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/H
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Amostragem
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Método IP
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Instrumento Alternativo
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/D
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/T
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/S
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/P
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/F
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/A
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Frequência/H
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Amostragem IA
					</th>
					<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
						Método IA
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var cota in Model.Cotas.OrderBy(x => x.Ordem))
				{
					@(await Html.PartialAsync("_DetailsCotaPartialView", cota))
				}
			</tbody>
		</table>
	</div>
	<h1>Adicionar Cota</h1>
	@(await Html.PartialAsync("_CreateCotaPartialView", new Cota(Model.IDPlanoControle, Model._context)))
	<div class="mb-12">
		<a asp-action="Index">Voltar para Lista</a>
	</div>
</div>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(document).ready(function () {
			$('#createCotaForm').submit(function (event) {
				event.preventDefault();

				$.ajax({
					url: '@Url.Action("CreateCota", "PlanoControle")',
					type: 'POST',
					data: $(this).serialize(),
					success: function (data) {
						location.reload();
					},
					error: function (xhr, status, error) {
					}
				});
			});
		});
	</script>
}