@model Schwarz.Models.PlanoControle

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}
@Html.Partial("_Bootstrap")

<div class="bg-white">
<h1>Details</h1>

<div>
    <h4>PlanoControle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Revisao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Revisao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAtualizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoInterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoInterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NFluxo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NFluxo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioElaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioElaborador.IDFuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioAprovador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioAprovador.IDFuncionario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDPlanoControle">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>