@model IEnumerable<Schwarz.Models.PlanoControle>

@{
	ViewData["Title"] = "Index";
	Layout = "_Layout";
}

<div class="bg-white">
	<p>
		<a asp-action="Create">Cadastrar Novo</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Revisao)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Produto)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Cliente)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Processo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CodigoInterno)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CodigoCliente)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.NumeroFluxo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Observacoes)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.IDFuncionarioElaborador)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.IDFuncionarioAprovador)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Revisao)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Status)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Produto)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Cliente)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Processo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CodigoInterno)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CodigoCliente)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.NumeroFluxo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Observacoes)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.FuncionarioElaborador.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.FuncionarioAprovador.Nome)
					</td>
					<td>
						<a style="padding: 7px 10px;margin-top: 0;" class="btn btn-info" asp-action="Details" asp-route-id="@item.IDPlanoControle">Detalhes</a>
						<a style="padding: 7px 10px;margin-top: 0;" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IDPlanoControle">Editar</a>
						<a style="padding: 7px 10px;margin-top: 0;" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IDPlanoControle">Deletar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>