@model Schwarz.Models.Cota
<tr>
    <td>
        @Html.DisplayFor(model => model.Item)
    </td>
    <td>
        @Html.DisplayFor(model => model.CaracteristicaEspecial)
    </td>
    <td>
        @Html.DisplayFor(model => model.Localizacao)
    </td>
    <td>
        @Html.DisplayFor(model => model.CaracteristicaProduto)
    </td>
    <td>
        @Html.DisplayFor(model => model.CaracteristicaProcesso)
    </td>
    <td>
        @Html.DisplayFor(model => model.Descricao)
    </td>
    <td>
        @Html.DisplayFor(model => model.Nominal)
    </td>
    <td>
        @Html.DisplayFor(model => model.ToleranciaSuperior)
    </td>
    <td>
        @Html.DisplayFor(model => model.ToleranciaInferior)
    </td>
    <td>
        @Html.DisplayFor(model => model.InstrumentoPrincipal)
    </td>
    <td>
        @Html.DisplayFor(model => model.CodigoIP)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaDiaIP)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaTurnoIP)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaSetUpIP)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaParadaIP)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaFinalIP)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaAjusteIP)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaHoraIP)
    </td>
    <td>
        @Html.DisplayFor(model => model.AmostragemIP)
    </td>
    <td>
        @Html.DisplayFor(model => model.MetodoIP)
    </td>
    <td>
        @Html.DisplayFor(model => model.InstrumentoAlternativo)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaDiaIA)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaTurnoIA)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaSetUpIA)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaParadaIA)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaFinalIA)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaAjusteIA)
    </td>
    <td>
        @Html.DisplayFor(model => model.FrequenciaMinimaHoraIA)
    </td>
    <td>
        @Html.DisplayFor(model => model.AmostragemIA)
    </td>
    <td>
        @Html.DisplayFor(model => model.MetodoIA)
    </td>
