@using Schwarz.Components
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Schwarz</title>
    <base href="~/" />
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)"
               render-mode="Server" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/node_modules/venobox/dist/venobox.min.css" />
    <link href="~/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />


    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/venobox/dist/venobox.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/node_modules/@@linways/table-to-excel/dist/tableToExcel.js"></script>

    <script src="https://kit.fontawesome.com/5d8b80ea21.js" crossorigin="anonymous"></script>
    <script src="~/node_modules/select2/dist/js/select2.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>


    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.13.4/sorting/datetime-moment.js"></script>
</head>
<body class="bg-no-repeat bg-cover" style="background-image: url(/image/fundo.jpg);">
    <header class="bg-white">
        <partial name="~/Views/Shared/_NavMenu.cshtml" />
    </header>
    <component type="typeof(_MudBlazor)" render-mode="ServerPrerendered">

    @if (TempData["MensagemErro"] != null)
    {
        <div class="fixed inset-x-0 top-18 z-50 flex justify-center">
            <div id="notification" class="bg-red-500 text-white font-bold py-2 px-4 rounded">
                @TempData["MensagemErro"]
            </div>
        </div>
    }
    @if (TempData["MensagemTrocaSenha"] != null)
    {
        <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
            <div class="fixed inset-x-0 top-18 z-50 flex justify-center">
                <div id="notification" class="bg-red-500 text-white font-bold py-2 px-4 rounded">
                    @TempData["MensagemTrocaSenha"]
                </div>
            </div>
        </a>
    }
    <div style="min-height:85vh">
        @RenderBody()
    </div>
    @RenderSection("ControlsSection", required: false)


    <div class="relative py-1 text-center text-black bg-white border-t-2 border-black flex justify-center text-xs items-center" style="height:5vh">
        &copy; <span id="ano"></span>&nbsp;- Criado por Guilherme Gordiano - Inovação e Melhoria Contínua
    </div>

    <script>

        setTimeout(function () {
            document.getElementById('notification').classList.add('hidden');
        }, 7000);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>